<div class="track">
<%= form_for @track do |f| %>
  <%= f.label :title %></br><br>
  <%= f.text_field :title, placeholder: "Ex. Friday - Rebcecca Black" %></br><br>

  <%= f.label :verse1 %></br><br>
  <%= f.text_area :content, placeholder: "You know the song. Make it better." %><br><br>

  <%= f.label :chorus %></br><br>
  <%= f.text_area :verse1, placeholder: "Something catchy you know?" %><br><br>

  <%= f.label :verse2 %></br><br>
  <%= f.text_area :verse2, placeholder: "If you have the goods..." %><br><br>

  <%= f.label :verse3 %></br><br>
  <%= f.text_area :verse3, placeholder: "Ambitious?" %><br><br>

  <%= f.label :youtube %></br><br>
  <%= f.text_area :url, placeholder: "Enter Instrumental YouTube track" %><br><br>

  <%= f.submit %>
<% end %>
</div>