<div class="track2">
  <h1><%= @track.title %></h1>
  <p><%= @track.content %></p>
  <p><%= @track.verse1 %></p>
  <p><%= @track.verse2 %></p>
  <p><%= @track.verse3 %></p>
  <div class="annotations">
    <ul>
      <% @track.annotations.each do |annotation| %>
      <li><%= annotation.body %></li><br>  
      <%= link_to "Edit", edit_track_annotation_path(:track_id => @track.id, :id => annotation.id) %> 
      <%= link_to "Delete", track_annotation_path(:track_id => @track.id, :id => annotation.id), :method => :delete %>
      <% end %>
    </ul>
    <br><%= render "annotations/form" %>
  </div>
</div>  

<div class="sidebar3">
  <h2>We got you a beat</h2>
  Have an API call to pull this song from YouTube
</div>